<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              <div id="gs-dialog" title="Get Started"> 
              <p> Use this website to visualize the approximation algorithms to user-defined TSPs (Traveling Salesman Problems).</p>
              <p> You can learn more about TSPs <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem" target="_blank"> here</a>. </p>
              </div>
      </li>
      <li>
        <a id = "home" href="#"><span class="glyphicon glyphicon-book"></span> Get Started</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-th"></span> Interactive TSP Visualization</a>
      </li>
    </ul>
  </div>
</nav>
