<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/sigma.min.js"></script>
  <script type="text/javascript" src="javascript/graphStuff.js"></script>
  <script type="text/javascript" src="javascript/webpage.js"></script>
  <script type="text/javascript" src="javascript/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.min.css" />
  <link rel='stylesheet' href='/fa/css/all.css' />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <% include ../partials/nav.ejs %>
<div id="container">
  <div id="graph-container"></div>
    <!-- From filters.html of Sigma examples-->
    <!-- SideBar Starts Here-->
    <div id="sidebar">
    <h2 class="underline">TSP Visualization</h2>
    <div>
      <h4>Initialize Dataset</h4>
		<button id="initRand-btn">Initialize Random</button>
    <!-- ui-dialog -->
      <div id="rand-dialog" title="Initialize Random Graph">
        <p>Select the number of nodes (1-500) you would like in your graph.</p>
          <div id="node-slider"></div>
          # Nodes <br/>
          <input id = "node-input" />
      </div>
		<button id="upload-btn">Upload Adjacency Matrix</button>
    <!-- ui-dialog -->
      <div id="adj-dialog" title="Upload Adjacency Matrix File">
        <p>Please upload an adjacency file.</p>
        <input id = 'upload-file' type = "file">
      </div>
		<button id="draw-btn">Draw Graph</button>
    <!-- ui-dialog -->
      <div id="draw-dialog" title="Draw Your Own Graph">
        <p>Select</p>
      </div>
      <h4>Current Visualization</h4>
      <select id="node-category">
        <option value="" selected>Entire Graph</option>
        <option value="" >Random</option>
		    <option value="" >Nearest Neighbor</option>
        <option value="" >Greedy</option>
        <option value="" >Convex Hull</option>
        <option value="" >Christofides</option>
      </select>
      <h4> Approximations </h4>
	    <input type="checkbox" name="approxAlg" value="Random"> Random<br>
	    <input type="checkbox" name="approxAlg" value="NearestN"> Nearest Neighbor<br>
	    <input type="checkbox" name="approxAlg" value="Greedy"> Greedy<br>
	    <input type="checkbox" name="approxAlg" value="ConvexHull"> Convex Hull<br>
	    <input type="checkbox" name="approxAlg" value="Christofides"> Christofides<br>
      <h4>Bounds </h4>
      	<input type="checkbox" name="approxAlg" value="HKLB"> Held-Karp Lower Bound<br>
      	<input type="checkbox" name="approxAlg" value="OTLB"> OneTree Lower Bound<br>
      	<input type="checkbox" name="approxAlg" value="MSTUB"> MST Upper Bound<br>
    </div>
    <span class="line"></span>
    <div>
      <button id="calc-btn">Calculate</button>
    </div>
</div>
</body>
</html>
