<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>TSP Visualization</h1>
    <p>This is a blah.</p>
    <a type="button" class="btn btn-lg btn-default" href="#"></span> Getting Started</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"></span> YAH</a>
  </div>
</div>



</body>
</html>
